*,
::before,
::after{
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #3745C6;
}

li {
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid blue;
}

.nav ul{
    display: flex;
}

.nav ul li {
    margin-right: 10px;
}

.title {
    height: 90px;
    margin-bottom: 20px;
}

.container {
    float: right;
    max-width: 1700px;
    width: 100%;
}

.title h1 {
    margin-top: 10px;
}

.subtitle {
    display: flex;
    justify-content: space-between;
}

.subtitle__item {
    margin-right: 10px;
}

.main__box {
    margin: 20px auto;
    height: 83px;
    width: 1300px;
    border: 1px solid #000000;
    border-left: 10px solid orange;
}

.main__box p {
    margin-left: 10px;
}

.main__text {
    font-size: 18px;
}

.main__list {
    background-color: #F8F9FA;
    width: 15%;
    line-height: 1.3em;
    margin-top: 20px;
    border: 1px solid black;
}

.main__list h2{
    font-size: 16px;
    text-align: center;
}

.main__list ol {
    padding: 0 5px 0 10px;
    counter-reset: item;
}

.main__list li {
    margin: 0;
    display: block;
}

.main__list li::before {
    content: counters(item, ".") " ";
    counter-increment: item;
}
