body {
    margin: 0;
}

.clearfix {
    clear: both;
}

.wrap {
    padding: 5px;
    width: 1000px;
    height: 600px;
}

.wide {
    width: 100%;
    height: 100px;
}

.f-l {
    float: left;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.h-400 {
    height: 400px;
}

.bg-org {
    background-color: orange;
}

.bg-red {
    background-color: red;
}

.bg-gr {
    background-color: green;
}

.bg-bl {
    background-color: blue;
}

.bg-black {
    background-color: black;
}
