body {
    background-color: #d1c7da;
}

p {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1280px;
    /* border: 1px solid black; */
    background-color: #cebddd;
}

.dishes {
    padding: 15px;
    /* border: 1px solid black; */
    width: 22%;
}

.dishes__item {
    color: #43464a;
}

.dishes__img {
    display: block;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
}
